*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.body{
    width: 100%;
    height: 100svh;
    position: relative;
 }

.body ::before{
    content:"";
    position: absolute;
    background-image: url("./Imagens/Fundos/bolinho_sem_fundo.png");
    background-repeat: no-repeat;
    background-size: 175svh;
    background-position: center;
    z-index: -1;
    inset: 0;
    opacity: 0.1;

}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul{
    display: flex;
    justify-content: space-around;
    color: #C6B0D6;
    text-shadow:-1px -1px 0.5px #F7D5E3;
    font-size: 1rem;
}

h5{
    text-align: center;
    color: #C6B0D6;
    text-shadow:-1px -1px 0.5px #F7D5E3;
    font-size: 0.5rem;
}